.hero-bg {
    background-image: url(https://assets.website-files.com/5e865e0…/5e865e0…_BG%20Shape.svg);
    background-position: 100% 0%;
    background-size: auto;
    background-repeat: no-repeat;
}